.vs/
build/
External/vcpkg_installed/
x64/
Debug/
Release/

*.user
*.suo
*.VC.db
*.VC.VC.opendb
*.opensdf
*.sdf

*.obj
*.pdb
*.idb
*.ilk
*.tlog
*.lastbuildstate
*.recipe
*.log
*.exe

.DS_Store
Thumbs.db